<!DOCTYPE html>
<html>

<head>
  <title>Vehicle - <%= vehicle.ProductId %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Vehicle: <%= vehicle.ProductId %></h1>

    <ul>
        <li>
            <a href="/">
               Home
            </a>
        </li>
        <li>
            <a href="/vehicle/540981">
                Vehicle 540981
            </a>
        </li>
        <li>
            <a href="/vehicles">
                All vehicles
            </a>
        </li>
        <li>
            <a href="/vehicles?itemsPerPage=40&pageNumber=2">
                All vehicles (with paging)
            </a>
        </li>
        <li>

            <a href="/location/123">
                Location 123
            </a>
        </li>
        <li>
            <a href="/locations">
                All locations
            </a>

        </li>
        </ul>

  <div class="box">

    <% 
      JSON.parse(vehicle.ImagesJson)
      .forEach(function(drink) { %>
    <div>
      <img class="img-grid" src="<%= drink.URL %>"> </img>
    </div>
    <% }); %>
  </div>
  <hr>
  <pre><%=JSON.stringify(vehicle, null, 2); %></pre>




  <style>
    .box {
      display: flex;
      flex-wrap: wrap;
    }

    .box>* {
      flex: 1 1 100px;
    }

    .img-grid {
      height: 100px;
    }
  </style>
</body>

</html>