<!DOCTYPE html>
<html>

<head>
  <title>Vehicles</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<h1> <%= count %> vehicles</h1>
<body>
        <ul>
                <li>
                    <a href="/">
                       Home
                    </a>
                </li>
                <li>
                    <a href="/vehicle/540981">
                        Vehicle 540981
                    </a>
                </li>
                <li>
                    <a href="/vehicles">
                        All vehicles
                    </a>
                </li>
                <li>
                    <a href="/vehicles?itemsPerPage=40&pageNumber=2">
                        All vehicles (with paging)
                    </a>
                </li>
                <li>
        
                    <a href="/location/123">
                        Location 123
                    </a>
                </li>
                <li>
                    <a href="/locations">
                        All locations
                    </a>
        
                </li>
                </ul>
        <div class="box">
<% 
vehicles
.forEach(function(drink) { %>

    <div>
            <a href="/vehicle/<%= drink.ProductId %>">      
        <% 
        JSON.parse(drink.ImagesJson)
        .some(function(drink) { %>
      <div>
        <img class="img-grid" src="<%= drink.URL %>"> </img>
      </div>
      <% return true; }); %>
 <h3> <%= drink.ManufacturerName + " "  + drink.Model %></a> </h3>
          </div>
<% }); %>
</div>


<style>
        html, body {width: auto!important; overflow-x: hidden!important} 

        .box {
          display: flex;
          flex-wrap: wrap;
        }
    
        .box>* {
          flex: 1 1 200px;
        }
    
        .img-grid {
          height: 200px;
        }
      </style>

</body>
</html>
